name: CI
on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  check:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: jetbrains
          java-version: 21
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary: on-failure
          add-job-summary-as-pr-comment: on-failure
      - run: ./gradlew check -DagreePublicBuildScanTermOfService=yes --scan

  build:
    needs: check
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            task: packageReleaseDeb
            artifact_path: deb
          - os: ubuntu-latest
            task: packageReleaseRpm
            artifact_path: rpm
          - os: macos-latest
            task: packageReleaseDmg
            artifact_path: dmg
          - os: windows-latest
            task: packageReleaseMsi
            artifact_path: msi
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: jetbrains
          java-version: 21
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary: on-failure
          add-job-summary-as-pr-comment: on-failure
      - run: ./gradlew ${{ matrix.task }} -DagreePublicBuildScanTermOfService=yes --scan
      - uses: actions/upload-artifact@v7
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        with:
          name: ${{ matrix.os }}-${{ matrix.artifact_path }}-distribution
          path: gradle-client/build/compose/binaries/main-release/${{ matrix.artifact_path }}
          if-no-files-found: error
      - uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: gradle-client/build/compose/binaries/main-release/${{ matrix.artifact_path }}/**
